<nav>
  <div class="site-title">
    <a href="/"><h1>Express Fish Web</h1></a>
    <p>A web about fishes info</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/fav-list">Fav List</a></li>
  </ul>
</nav>