<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Fav List of your Fishes!</h2>
  <div class="fish-list">
  </div>

  <%- include("./partials/footer.ejs") %>
  <script src="/scripts/fav-list.js"></script>
</body>
</html>